/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    height: 100vh;
    color: #fff;
}

.hero-section {
    background: url('referenciapelle.png') no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay para deixar o texto legível */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center; /* Centraliza o texto na tela */
}

/* Faixa preta atrás do texto */
.text-box {
    background-color: rgba(0, 0, 0, 0.7); /* Faixa preta semi-transparente */
    padding: 40px;
    border-radius: 10px;
    max-width: 40%; /* Limita a largura a 40% */
    text-align: center; /* Centraliza o texto */
}

header h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

header h2 {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #f0f4f8; /* Texto secundário em branco */
}

.content {
    margin-top: 20px;
}

/* Botão de CTA com cor chamativa */
#whatsapp-btn {
    background-color: #ff5722; /* Cor vibrante */
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#whatsapp-btn:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .text-box {
        max-width: 80%; /* Aumenta a largura máxima em telas menores */
    }

    #whatsapp-btn {
        font-size: 16px;
        padding: 12px 30px;
    }
}
